In [59]:
import pandas as pd
import numpy as np

In [60]:
data=pd.read_csv('PRSA.csv')
data

,No,year,month,day,hour,pm2.5,DEWP,TEMP,PRES,cbwd,Iws,Is,Ir
0,1,2010,1,1,0,NaN,-21,-11.0,1021.0,NW,1.79,0,0
1,2,2010,1,1,1,NaN,-21,-12.0,1020.0,NW,4.92,0,0
2,3,2010,1,1,2,NaN,-21,-11.0,1019.0,NW,6.71,0,0
3,4,2010,1,1,3,NaN,-21,-14.0,1019.0,NW,9.84,0,0
4,5,2010,1,1,4,NaN,-20,-12.0,1018.0,NW,12.97,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,43820,2014,12,31,19,8.0,-23,-2.0,1034.0,NW,231.97,0,0
43820,43821,2014,12,31,20,10.0,-22,-3.0,1034.0,NW,237.78,0,0
43821,43822,2014,12,31,21,10.0,-22,-3.0,1034.0,NW,242.70,0,0
43822,43823,2014,12,31,22,8.0,-22,-4.0,1034.0,NW,246.72,0,0
43823,43824,2014,12,31,23,12.0,-21,-3.0,1034.0,NW,249.85,0,0


# 1.DATA PREPROCESSING

In [61]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43824 entries, 0 to 43823
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   No      43824 non-null  int64
 1   year    43824 non-null  int64
 2   month   43824 non-null  int64
 3   day     43824 non-null  int64
 4   hour    43824 non-null  int64
 5   pm2.5   41757 non-null  float64
 6   DEWP    43824 non-null  int64
 7   TEMP    43824 non-null  float64
 8   PRES    43824 non-null  float64
 9   cbwd    43824 non-null  object
 10  Iws     43824 non-null  float64
 11  Is      43824 non-null  int64
 12  Ir      43824 non-null  int64
dtypes: float64(4), int64(8), object(1)
memory usage: 4.3+ MB

 Handling Missing Values

In [62]:
data['pm2.5'].isna().sum()

2067

There are 2067 null values in the column pm2.5 among 43824 records so we can drop those records that contain null values

In [63]:
data.dropna(inplace=True)

In [64]:
data

,No,year,month,day,hour,pm2.5,DEWP,TEMP,PRES,cbwd,Iws,Is,Ir
24,25,2010,1,2,0,129.0,-16,-4.0,1020.0,SE,1.79,0,0
25,26,2010,1,2,1,148.0,-15,-4.0,1020.0,SE,2.68,0,0
26,27,2010,1,2,2,159.0,-11,-5.0,1021.0,SE,3.57,0,0
27,28,2010,1,2,3,181.0,-7,-5.0,1022.0,SE,5.36,1,0
28,29,2010,1,2,4,138.0,-7,-5.0,1022.0,SE,6.25,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,43820,2014,12,31,19,8.0,-23,-2.0,1034.0,NW,231.97,0,0
43820,43821,2014,12,31,20,10.0,-22,-3.0,1034.0,NW,237.78,0,0
43821,43822,2014,12,31,21,10.0,-22,-3.0,1034.0,NW,242.70,0,0
43822,43823,2014,12,31,22,8.0,-22,-4.0,1034.0,NW,246.72,0,0
43823,43824,2014,12,31,23,12.0,-21,-3.0,1034.0,NW,249.85,0,0

In [65]:
data.reset_index()

,index,No,year,month,day,hour,pm2.5,DEWP,TEMP,PRES,cbwd,Iws,Is,Ir
0,24,25,2010,1,2,0,129.0,-16,-4.0,1020.0,SE,1.79,0,0
1,25,26,2010,1,2,1,148.0,-15,-4.0,1020.0,SE,2.68,0,0
2,26,27,2010,1,2,2,159.0,-11,-5.0,1021.0,SE,3.57,0,0
3,27,28,2010,1,2,3,181.0,-7,-5.0,1022.0,SE,5.36,1,0
4,28,29,2010,1,2,4,138.0,-7,-5.0,1022.0,SE,6.25,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41752,43819,43820,2014,12,31,19,8.0,-23,-2.0,1034.0,NW,231.97,0,0
41753,43820,43821,2014,12,31,20,10.0,-22,-3.0,1034.0,NW,237.78,0,0
41754,43821,43822,2014,12,31,21,10.0,-22,-3.0,1034.0,NW,242.70,0,0
41755,43822,43823,2014,12,31,22,8.0,-22,-4.0,1034.0,NW,246.72,0,0
41756,43823,43824,2014,12,31,23,12.0,-21,-3.0,1034.0,NW,249.85,0,0

**Transforming Categorical Values**

Among all the 14 columns only cbwd is detected as object

In [66]:
data['cbwd'].unique()

array(['SE', 'cv', 'NW', 'NE'], dtype=object)

In [67]:
from sklearn.preprocessing import LabelEncoder

In [68]:
encoder=LabelEncoder()

In [69]:
data['cbwd']=encoder.fit_transform(data['cbwd'])

In [70]:
data

,No,year,month,day,hour,pm2.5,DEWP,TEMP,PRES,cbwd,Iws,Is,Ir
24,25,2010,1,2,0,129.0,-16,-4.0,1020.0,2,1.79,0,0
25,26,2010,1,2,1,148.0,-15,-4.0,1020.0,2,2.68,0,0
26,27,2010,1,2,2,159.0,-11,-5.0,1021.0,2,3.57,0,0
27,28,2010,1,2,3,181.0,-7,-5.0,1022.0,2,5.36,1,0
28,29,2010,1,2,4,138.0,-7,-5.0,1022.0,2,6.25,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,43820,2014,12,31,19,8.0,-23,-2.0,1034.0,1,231.97,0,0
43820,43821,2014,12,31,20,10.0,-22,-3.0,1034.0,1,237.78,0,0
43821,43822,2014,12,31,21,10.0,-22,-3.0,1034.0,1,242.70,0,0
43822,43823,2014,12,31,22,8.0,-22,-4.0,1034.0,1,246.72,0,0
43823,43824,2014,12,31,23,12.0,-21,-3.0,1034.0,1,249.85,0,0

In [71]:
data['cbwd'].unique()

array([2, 3, 1, 0])

In [72]:
x = data.drop("pm2.5", axis=1) #input factors

y = data["pm2.5"]

In [73]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=42,test_size=0.33)

**Scaling Numerical Values**

In [74]:
#standarDization process: using standard scaler
#scikit learn prime package: machine learning: sklearn
from sklearn.preprocessing import StandardScaler

#instantiate the standard scaler: create an instance
scaler = StandardScaler(copy=True, with_mean=True, with_std=True)

#fittng the scaler on data

#samples_scaled = scaler.transform(df)
#result of the scaler is always in array form
x_trained_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)
print(x_trained_scaled)
print(x_test_scaled)
print(data)

[[ 0.81838949  0.67371788  0.71922618 ... -0.46309253 -0.0716136
   2.03712353]
 [-1.74623966 -1.45398438 -1.59382275 ... -0.46309253 -0.0716136
  -0.13457487]
 [ 1.7027553   1.38295196  1.58661954 ...  4.50917582 -0.0716136
  -0.13457487]
 ...
 [ 1.41293445  1.38295196  0.43009507 ... -0.44488872 -0.0716136
  -0.13457487]
 [-1.69574297 -1.45398438 -1.30469163 ... -0.44488872 -0.0716136
  -0.13457487]
 [-0.40835495 -0.74475029  1.58661954 ... -0.11944513 -0.0716136
  -0.13457487]]
[[ 0.37874331  0.67371788 -1.30469163 ... -0.15544821 -0.0716136
  -0.13457487]
 [ 1.07166564  1.38295196 -1.30469163 ... -0.20075546 -0.0716136
  -0.13457487]
 [ 0.45643052  0.67371788 -1.01556052 ...  0.10648432 -0.0716136
  -0.13457487]
 ...
 [-1.16279287 -1.45398438  1.29748842 ...  5.41734346 -0.0716136
  -0.13457487]
 [-0.19075149 -0.03551621 -0.7264294  ...  1.10142343 -0.0716136
  -0.13457487]
 [-0.51418395 -0.74475029  1.0083573  ... -0.21895927 -0.0716136
  -0.13457487]]
          No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES  cbwd     Iws  \
24        25  2010      1    2     0  129.0   -16  -4.0  1020.0     2    1.79
25        26  2010      1    2     1  148.0   -15  -4.0  1020.0     2    2.68
26        27  2010      1    2     2  159.0   -11  -5.0  1021.0     2    3.57
27        28  2010      1    2     3  181.0    -7  -5.0  1022.0     2    5.36
28        29  2010      1    2     4  138.0    -7  -5.0  1022.0     2    6.25
...      ...   ...    ...  ...   ...    ...   ...   ...     ...   ...     ...
43819  43820  2014     12   31    19    8.0   -23  -2.0  1034.0     1  231.97
43820  43821  2014     12   31    20   10.0   -22  -3.0  1034.0     1  237.78
43821  43822  2014     12   31    21   10.0   -22  -3.0  1034.0     1  242.70
43822  43823  2014     12   31    22    8.0   -22  -4.0  1034.0     1  246.72
43823  43824  2014     12   31    23   12.0   -21  -3.0  1034.0     1  249.85

       Is  Ir
24      0   0
25      0   0
26      0   0
27      1   0
28      2   0
...    ..  ..
43819   0   0
43820   0   0
43821   0   0
43822   0   0
43823   0   0

[41757 rows x 13 columns]

# MODEL IMPLEMENTATION

**Ridge Regressor**

In [75]:
from sklearn.linear_model import Ridge
ridge = Ridge()
ridge.fit(x_trained_scaled,y_train)
y_pred_train_ridge = ridge.predict(x_trained_scaled)
y_pred_ridge = ridge.predict(x_test_scaled)

In [79]:
y_pred_train_ridge, y_pred_ridge

(array([ 97.07448154, 155.34520496,  35.04407111, ...,  81.98624746,
         91.11382276,  72.19871101]),
 array([158.02196942,  12.79712241, 137.01544257, ...,  85.68657727,
         85.28862331, 107.41304821]))

**Random Forest Regressor**

In [77]:
from sklearn.ensemble import RandomForestRegressor
rfr_model = RandomForestRegressor(n_estimators=100, random_state=42)
rfr_model.fit(x_trained_scaled,y_train)
y_pred_train_rfr = rfr_model.predict(x_trained_scaled)
y_pred_rfr = rfr_model.predict(x_test_scaled)
y_pred_train_rfr , y_pred_rfr

(array([146.78, 157.17,   9.43, ..., 111.25,  64.46,  20.3 ]),
 array([135.81,  12.53, 239.53, ..., 123.5 ,  60.33,  49.33]))

# MODEL EVALUATION

In [78]:
from sklearn.metrics import mean_squared_error,mean_absolute_error
from sklearn.metrics import r2_score

**Ridge Regressor**

In [80]:
# for training data -
MSE_train = mean_squared_error(y_pred_train_ridge,y_train)
MAE_train = mean_absolute_error(y_pred_train_ridge,y_train)
RMSE_train = np.sqrt(MSE_train)
score_train = r2_score(y_train,y_pred_train_ridge)
print(MSE_train,MAE_train,RMSE_train,score_train)

# for testing data - 
MSE_test = mean_squared_error(y_pred_ridge,y_test)
MAE_test = mean_absolute_error(y_pred_ridge,y_test)
RMSE_test = np.sqrt(MSE_test)
score_test = r2_score(y_test,y_pred_ridge)
print(MSE_test,MAE_test,RMSE_test,score_test)

6158.073570427132 57.13222373133376 78.47339402897731 0.2707657123556424
6233.353891369419 56.97630702311898 78.95159207621731 0.26931666093327045

**Random Forest Regressor**

In [81]:
# for training data -
MSE_train_RFR = mean_squared_error(y_pred_train_rfr,y_train)
MAE_train_RFR = mean_absolute_error(y_pred_train_rfr,y_train)
RMSE_train_RFR = np.sqrt(MSE_train_RFR)
score_train_RFR = r2_score(y_train,y_pred_train_rfr)
print(MSE_train_RFR,MAE_train_RFR,RMSE_train_RFR,score_train_RFR)

# for testing data -
MSE_test_RFR = mean_squared_error(y_pred_rfr,y_test)
MAE_test_RFR = mean_absolute_error(y_pred_rfr,y_test)
RMSE_test_RFR = np.sqrt(MSE_test_RFR)
score_test_rfr = r2_score(y_test,y_pred_rfr)
print(MSE_test_RFR  , MAE_test_RFR , RMSE_test_RFR , score_test_rfr)

161.98134263144723 7.955127426100011 12.727189109597107 0.9808182952583129
1317.26776095791 21.453497822931787 36.29418356924302 0.8455878451960915

# CrossValidation

**RIDGE REGRESSION**

In [82]:
param_grid = {
    'alpha': [0.1, 1.0, 10.0, 100.0] 
}
from sklearn.model_selection import RandomizedSearchCV
from sklearn.linear_model import Ridge
ridge = Ridge()
clf_ridge = RandomizedSearchCV(ridge,param_distributions=param_grid,scoring='neg_mean_squared_error',cv=10,verbose=3)
clf_ridge.fit(x_trained_scaled,y_train)

C:\Users\Yashika Batra\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:292: UserWarning: The total space of parameters 4 is smaller than n_iter=10. Running 4 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

Fitting 10 folds for each of 4 candidates, totalling 40 fits
[CV 1/10] END ....................alpha=0.1;, score=-5915.311 total time=   0.0s
[CV 2/10] END ....................alpha=0.1;, score=-6401.194 total time=   0.0s
[CV 3/10] END ....................alpha=0.1;, score=-6606.693 total time=   0.0s
[CV 4/10] END ....................alpha=0.1;, score=-5698.785 total time=   0.0s
[CV 5/10] END ....................alpha=0.1;, score=-6171.865 total time=   0.0s
[CV 6/10] END ....................alpha=0.1;, score=-6074.468 total time=   0.0s
[CV 7/10] END ....................alpha=0.1;, score=-6104.881 total time=   0.0s
[CV 8/10] END ....................alpha=0.1;, score=-6313.305 total time=   0.0s
[CV 9/10] END ....................alpha=0.1;, score=-6406.229 total time=   0.0s
[CV 10/10] END ...................alpha=0.1;, score=-5922.734 total time=   0.0s
[CV 1/10] END ....................alpha=1.0;, score=-5916.122 total time=   0.0s
[CV 2/10] END ....................alpha=1.0;, score=-6402.427 total time=   0.0s
[CV 3/10] END ....................alpha=1.0;, score=-6608.254 total time=   0.0s
[CV 4/10] END ....................alpha=1.0;, score=-5700.536 total time=   0.0s
[CV 5/10] END ....................alpha=1.0;, score=-6172.978 total time=   0.0s
[CV 6/10] END ....................alpha=1.0;, score=-6075.713 total time=   0.0s
[CV 7/10] END ....................alpha=1.0;, score=-6105.850 total time=   0.0s
[CV 8/10] END ....................alpha=1.0;, score=-6313.406 total time=   0.0s
[CV 9/10] END ....................alpha=1.0;, score=-6407.549 total time=   0.0s
[CV 10/10] END ...................alpha=1.0;, score=-5923.381 total time=   0.0s
[CV 1/10] END ...................alpha=10.0;, score=-5916.002 total time=   0.0s
[CV 2/10] END ...................alpha=10.0;, score=-6402.253 total time=   0.0s
[CV 3/10] END ...................alpha=10.0;, score=-6608.519 total time=   0.0s
[CV 4/10] END ...................alpha=10.0;, score=-5700.864 total time=   0.0s
[CV 5/10] END ...................alpha=10.0;, score=-6173.365 total time=   0.0s
[CV 6/10] END ...................alpha=10.0;, score=-6075.698 total time=   0.0s
[CV 7/10] END ...................alpha=10.0;, score=-6106.511 total time=   0.0s
[CV 8/10] END ...................alpha=10.0;, score=-6313.395 total time=   0.0s
[CV 9/10] END ...................alpha=10.0;, score=-6407.927 total time=   0.0s
[CV 10/10] END ..................alpha=10.0;, score=-5923.125 total time=   0.0s
[CV 1/10] END ..................alpha=100.0;, score=-5914.865 total time=   0.0s
[CV 2/10] END ..................alpha=100.0;, score=-6400.192 total time=   0.0s
[CV 3/10] END ..................alpha=100.0;, score=-6610.375 total time=   0.0s
[CV 4/10] END ..................alpha=100.0;, score=-5703.115 total time=   0.0s
[CV 5/10] END ..................alpha=100.0;, score=-6176.879 total time=   0.0s
[CV 6/10] END ..................alpha=100.0;, score=-6075.218 total time=   0.0s
[CV 7/10] END ..................alpha=100.0;, score=-6112.861 total time=   0.0s
[CV 8/10] END ..................alpha=100.0;, score=-6314.114 total time=   0.0s
[CV 9/10] END ..................alpha=100.0;, score=-6411.190 total time=   0.0s
[CV 10/10] END .................alpha=100.0;, score=-5920.832 total time=   0.0s

RandomizedSearchCV(cv=10, estimator=Ridge(),
                   param_distributions={'alpha': [0.1, 1.0, 10.0, 100.0]},
                   scoring='neg_mean_squared_error', verbose=3)

In [85]:
y_pred_ridge_clf = clf_ridge.predict(x_test_scaled)
print(y_pred_ridge_clf)

# Evaluation - 
MSE_CV_RIDGE = mean_squared_error(y_pred_ridge_clf,y_test)
MAE_CV_RIDGE = mean_absolute_error(y_pred_ridge_clf,y_test)
RMSE_CV_RIDGE = np.sqrt(MSE_CV_RIDGE)
score_cv_ridge = r2_score(y_test,y_pred_ridge_clf)
print('MSE_CV_RIDGE :',MSE_CV_RIDGE , 'MAE_CV_RIDGE :',MAE_CV_RIDGE , 'RMSE_CV_RIDGE :',RMSE_CV_RIDGE ,'score_cv_ridge :')

[158.62060637  13.32095995 136.52312001 ...  85.83239023  85.48619248
 107.12834307]
MSE_CV_RIDGE : 6231.8968194716535 MAE_CV_RIDGE : 56.97477640042285 RMSE_CV_RIDGE : 78.94236390856086 score_cv_ridge :

**RANDOM FOREST REGRESSION**

In [ ]:
param_grid_rfc = {
    'n_estimators': [50, 100, 150],
    'max_depth': [5, 10, 15],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
}
from sklearn.ensemble import RandomForestRegressor
RFR = RandomForestRegressor()
clf_RFR = RandomizedSearchCV(RFR,param_distributions=param_grid_rfc,cv=10,scoring='accuracy')
import warnings
warnings.filterwarnings('ignore')
clf_RFR.fit(x_trained_scaled,y_train)

In [ ]:
y_pred_RFRcv = clf_RFR.predict(x_test_scaled)
y_pred_RFRcv

# Evaluation - 
MSE_CV_RFR = mean_squared_error(y_pred_RFRcv,y_test)
MAE_CV_RFR = mean_absolute_error(y_pred_RFRcv,y_test)
RMSE_CV_RFR = np.sqrt(MSE_CV_RFR)
score_cv_rfr = r2_score(y_test,y_pred_RFRcv)
print("MSE_CV_RFR :",MSE_CV_RFR)
print("MAE_CV_RFR :",MAE_CV_RFR)
print("RMSE_CV_RFR :", RMSE_CV_RFR)
print("score_cv_rfr : ", score_cv_rfr)